<!DOCTYPE html>
<html>
    <head>
    <title>Table Layout</title>    
    <link rel="stylesheet" href="style.css">
    </head>

    <body>

        <table>
            <tr>
                <td>
                    <h1>WebiGeeks</h1>
                    <h2>Development and Education</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt libero dignissimos blanditiis obcaecati quos, accusamus eaque similique soluta alias aliquid animi aut pariatur, sit iusto? Laborum, facilis. Enim, deleniti quis.
                    </p>
                </td>
                <td>
                    <img src="./images/undraw_website-builder_4go7.png" alt="webigeeks">
                </td>
            </tr>
        </table>
        
    </body>
</html>