*{
    padding: 0;
    margin: 0;
}


h1,h2,h3,h4,h5,h6{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#header{
    /* 1rem = 16px */
    padding:2rem;
    text-align: center;
    color:white;
    background:linear-gradient(rgba(0,0,0,0.3) , rgba(0,0,0,0.5)) , url(./images/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
#header h1{
    margin-bottom: 1rem;
}

#about {
    padding:2rem;
    text-align: center;
    background:linear-gradient(#B8CFCE ,#F2F2F2 );
}

#about img{
    /* x , y , b, s, c */
    box-shadow: 0 0 10px 0 grey ;
    width:180px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

#about h2 , #about p{
    margin-bottom: 1rem;
}
#about button{
    padding:10px;
    font-size: 16px;
    background-color: teal;
    color:#fff;
    border-color: transparent;
    border-radius: 4px;
}


#footer{
    text-align: center;
    background-color: #333446;
    color:#fff;

    /* inner space */
    /* t-r-b-l */
    padding:20px;

    /* t-b , l-r */
    /* padding:20px 40px; */

    /* t , l-r , b */
    /* padding:20px 40px 60px; */

    /* t , r, b ,l */
    /* padding:20px 40px 60px 30px; */

    /* padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px; */


    /* margin : outer space (space b/w elements) */
    /* t-r-b-l */
    /* margin:20px; */

    /* t-b , l-r */
    /* margin:20px 40px; */

    /* t , l-r , b */
    /* margin:20px 40px 60px; */

    /* t , r, b ,l */
    /* margin:20px 40px 60px 30px; */

    /* margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px; */

    /* border-width: 10px;
    border-style: solid;
    border-color: pink; */

/* border: 10px double red; */
/* border-top: 10px inset red; */

}