@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap');

*{
    padding: 0;
    margin: 0;
}

h1{
    font-family: Sacramento;
}
h2,h3,h4,h5,h6{
    font-weight: 500;
    font-family: Montserrat ,Arial, Helvetica, sans-serif;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.l2{
    font-size: 2rem;
    font-weight: 600;
    color:teal;
    margin-bottom: 1rem;
}
.wrapper{
    text-align: center;
    padding: 4rem 8rem;
}
#header{
    max-height: 100vh;
    overflow: hidden;
    /* 1rem = 16px */
    padding:2rem 2rem 0;
    text-align: center;
    color:teal;
    position: relative;
    background-color: #ededed;
    /* background:linear-gradient(rgba(0,0,0,0.3) , rgba(0,0,0,0.5)) , url(./images/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; */
}
#header .cloud{
    filter: drop-shadow( -4px 0 4px #000);
}

#header h1{
    position: relative;
    z-index: 2;
    font-size: 5rem;
    font-style: italic;
    text-shadow: -2px 2px 0 black;
    margin-bottom: 1rem;

}

#header .c1{
    position: relative;
    left:350px;
    width: 250px;
}
#header .c2{
    width: 300px;
    position: relative;
    left:400px;
    top:300px;
}
#header .c4{
    position: absolute;
    left:100px;
    width: 400px;
}
#header .c3{
    position: absolute;
    bottom:300px;
    left:200px;
    z-index: 1;
    width: 200px;
}

#header .mountain{
    position: relative;
    filter: drop-shadow(-4px 0 4px #000);
}
#header .m1{
     position: relative;
    width: 900px;
    bottom:50px;
    z-index: 2;
}
#header .m2{
    left:70px;
    position: absolute;
    bottom:0;
}
#header .m3{
    width:600px;
    position: absolute;
right:100px;
    bottom:0;
}

#about {
    background:linear-gradient(#B8CFCE ,#F2F2F2 );
}

#about img{
    /* x , y , b, s, c */
    box-shadow: 0 0 10px 0 grey ;
    width:180px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

#about h2 , #about p{
    margin-bottom: 1rem;
}
#about button{
    padding:10px;
    font-size: 16px;
    background-color: teal;
    color:#fff;
    border-color: transparent;
    border-radius: 4px;
}




/* features */
#features{
    background-color: #EDEDED;
}

#features .row{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
#features .row .col{
    background-color: #fff; 
    width: 25%;
    padding:2rem;
    border-radius: 5px;
    box-shadow: 0 0 5px grey;
}
#features .row .col h2{
    font-style: 1.8rem;
}

#contact{
    text-align: center;
}
#contact h3{
    color: teal;
    margin-bottom: 1rem;
}

#contact p{
    margin-bottom: 1rem;
}

#contact a{
    background-color: teal;
    color:white;
    font-size: 1rem;
    font-family: Arial;
    border-radius: 4px;
    padding:10px 12px;
    text-decoration: none;
    display: inline-block;
}



#footer{
    background-color: #333446;
    color:#fff;

}