p{
    font-size: 18px;
}


h1,h2,h3,h4,h5,h6{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-shadow: 2px 2px 4px black;
}

span{
    text-shadow: 2px 2px 2px rgb(255, 0, 0);

}

div{
    /* background-color: paleturquoise; */
    /* background: linear-gradient(-90deg, powderblue, rgb(102, 63, 147) 50%); */
    background: url(https://images.unsplash.com/photo-1749448621505-ed86401fec28?w=1400&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzfHx8ZW58MHx8fHx8);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding:20px;
    margin: 20px;;
}

#header{
    color:blue;
    text-align:center;
    border-radius: 5px;
}
#footer {
    color:grey;
    text-align: center;
    border-radius: 5px;
}